<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Exercise - FitNex</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Add Exercise to Workout</h1>
        <form action="/workouts/{${workoutId}}/exercises/add" method="post">
            <div class="form-group">
                <label for="name">Exercise Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Exercise</button>
            <a href="/workouts/{${workoutId}}" class="btn btn-secondary ml-2">Cancel</a>
        </form>
    </div>
</body>
</html>
